<main class="container">
  <div class="welcome">
    <h1>Seja Bem-Vindo ao WeatherApp</h1>
  
    <p>Aqui você pode encontrar de forma simples e fácil o clima do lugar que deseja!</p>
    
  </div>

  <div class="input">
    <label for="">Qual cidade você deseja saber o clima neste momento?</label>
    <input id="input-city" type="text">
  </div>

  <footer class="footer">
    <p>Gabriel Goldas &copy; 2025</p>
    <a 
      href="https://www.linkedin.com/in/gabriel-goldas-39356926b/" 
      target="_blank" 
      rel="noopener noreferrer"
    >
      LinkedIn
    </a>
    <a href="https://github.com/gabrielgoldas" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a href="https://www.instagram.com/gabriel_goldas/" target="_blank" rel="noopener noreferrer">Instagram</a>
  </footer>
</main>
